{# templates/home/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Angels Cake By KahinaOr</title>
</head>
<body>
    {% include 'includes/navbar.html.twig' %}

    {% include 'includes/slider.html.twig' %}

    {% include 'includes/transition.html.twig' %}

    {% include 'includes/product_slider.html.twig' %}
    
    {% include 'includes/histoire.html.twig' %}

    {% include 'includes/tripleimg.html.twig' %}

    {% include 'includes/section-contact.html.twig' %}

    {% include 'includes/fb-section.html.twig' %}

    {% include 'includes/footer.html.twig' %}
</body>
</html>