<link rel="stylesheet" href="{{ asset('styles/fb-section.css') }}">
<div class="facebook-section">
    <a href="https://www.facebook.com/people/Angels-cake/100027203001534/" target="_blank">
        <img src="{{ asset('images/fb.png') }}" alt="Follow us on Facebook" style="max-width: 100%; height: auto;">
    </a>
</div>