<link rel="stylesheet" href="{{ asset('styles/footer.css') }}">
<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo-container">
            <img src="{{ asset('images/logo.png') }}" alt="Logo" class="footer-logo">
        </div>
        <div class="footer-text">
            <p>©2024 par angelscakebykahinaor.</p>
            <hr>
            <p>MISS CAKE DESIGN BY KAAHINA , 19 RUE DES HAUTES PLANTES à 77124 CREGY-LES-MEAUX - Siren 87777976900018</p>

            <div class="social-icons">
                <a href="https://www.instagram.com/angelscake_bykahinaor/"><img src="{{ asset('images/Instagram_icon.png') }}" alt="Instagram"></a>
                <a href="https://www.facebook.com/people/Angels-cake/100027203001534/"><img src="{{ asset('images/Facebook_logo.png') }}" alt="Facebook"></a>
            </div>
        </div>
        
    </div>
</footer>
