<link rel="stylesheet" href="{{ asset('styles/histoire.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">

<div class="transition-container">
    <div class="content-wrapper">
        <h1 class="transition-title">À propos de Angel's Cake by Kahinaor</h1>
        <div class="transition-divider"></div>
        <div class="text-with-images">
            <div class="side-image left-image">
                <img src="{{ asset('images/fée.png') }}" alt="fée kahina">
            </div>
            <div class="text-content">
                <p>Kahinaor , une jeune petite fée patissière dîplomée, c'est en utilisant son élixir d'angels que ses gâteaux seront transformés en des cakes designs uniques ... recevant de la Poussière d'anges de Fée pour vous offrir un layer cake Gourmand qui donne des ailes !</p>
                <p>Reconnus comme les "Meilleurs gâteaux de Meaux". Emportez votre gourmandise gâteaux d'anniversaire, gâteaux de mariage, gâteaux de baby shower, cupcakes et bien plus encore. Élégant, totalement époustouflant, parfois fou et toujours savoureux.</p>
                <p>Soyez coquin dans le bon sens, avec des ingrédients de qualité et des créations uniques de Angel's Cake by Kahinaor.</p>
            </div>
            <div class="side-image right-image">
                <img src="{{ asset('images/livre.png') }}" alt="livre">
            </div>
        </div>
    </div>
</div>
<style>
        @font-face {
            font-family: 'RU Serious';
            src: url('{{ asset('fonts/RU_Serious_Regular.ttf') }}') format('truetype'); /* Assurez-vous que le chemin du fichier est correct */
            font-weight: 400;
            font-style: normal;
        }
</style>