<link rel="stylesheet" href="{{ asset('styles/infos.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
<body>
    <section class="info-section">
        <div class="container">
            <div class="column">
                <h3>Adresse</h3>
                <hr>
                <p>19, rue des Hautes Plantes<br>77124 Crégy les Meaux</p>
            </div>
            <div class="column">
                <h3>Contact</h3>
                <hr>
                <p>07 67 61 23 52<br> <a href="mailto:angelscakebykahinaor@gmail.com">angelscakebykahinaor@gmail.com</a></p>
            </div>
            <div class="column">
                <h3>Heures d’ouverture</h3>
                <hr>
                <p>Lundi-Vendredi 11h00 - 19h00<br>Samedi 11h00 - 17h00<br>Dimanche 11h00 - 17h00</p>
            </div>
        </div>
    </section>
</body>