<link rel="stylesheet" href="{{ asset('styles/transition.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
<div class="container">
        <div class="image-container">
            <img src="{{ asset('images/cupcake.png') }}" alt="Image Description">
        </div>
        <div class="text-container">
            <h1>GÂTEAUX D’ANNIVERSAIRE ET PIÈCES MONTÉES PERSONNALISÉS POUR ADULTE ET ENFANT</h1>
            <h2>Commandez votre Gateaux d’anniversaire en ligne : </h2>
             <ul class="text-list">
                <li>Number Cake</li>
                <li>Biscuits personnalisables</li>
                <li>Pâtisseries évènementielles</li>
                <li>Cake design</li>
                <li>Paris Seine et Marne 77</li>
                <li>Gâteaux de Mariage</li>
            </ul>
        </div>
    </div>