 <link rel="stylesheet" href="{{ asset('styles/tripleimg.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">


    <div class="cupcake-container">
        <div class="section">
            <div class="images-section">
                <div class="image-wrapper">
                    <img src="{{ asset('images/popcake.png') }}" alt="Image 1">
                </div>
                <div class="image-wrapper">
                    <img src="{{ asset('images/cakedesign.png') }}" alt="Image 2">
                </div>
                <div class="image-wrapper">
                    <img src="{{ asset('images/cupcake.png') }}" alt="Image 3">
                </div>
            </div>
            <div class="texts-section">
                <div class="text-wrapper text1">
                    <div class="cupcaketext-content">
                        <p>Pop Cakes<br>Le choix pour votre sweet table</p>
                    </div>
                </div>
                <div class="text-wrapper text2">
                    <div class="cupcaketext-content">
                        <p>Cake Design sur mesure<br>Sur demande</p>
                    </div>
                </div>
                <div class="text-wrapper text3">
                    <div class="cupcaketext-content">
                        <p>Cupcakes<br>le choix idéal des migniardises</p>
                    </div>
                </div>
            </div>
        </div>
    </div>