/* styles/boutique.css */

.sidebar {
    background-color: #FEFBFA;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 100%;
    color: #735656;
}

.sidebar h4 {
    color: #735656;
    margin-bottom: 20px;
}

.sidebar h5 {
    color: #735656;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar hr {
    border-top: 2px solid #735656;
    margin: 10px 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #735656;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.sort-options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sort-options label {
    margin-right: 10px;
    color: #735656;
}

.custom-select {
    border: 2px solid #735656;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #FEFBFA;
    color: #735656;
    font-size: 14px;
}
.toggle-arrow {
    cursor: pointer;
    transition: transform 0.3s;
    width: 12px; 
    height: 12px; 
    vertical-align: middle;
    margin: 5px;
    transform: rotate(90deg);

}

.filter-category .visible-arrow {
    transform: rotate(180deg);
}
.filter-category h5 {
    cursor: pointer;
}

.filter-options {
    display: none;
}

.filter-options.visible {
    display: block;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 2px solid #735656;
    border-radius: 25px; 
    max-width: 600px; 
    background-color: #FEFBFA; 
}

.search-bar input {
    flex: 1;
    padding: 10px;
    padding-right: 150px;
    font-size: 16px;
    border: none; 
    border-radius: 25px; 
    outline: none; 
    background-color: #FEFBFA; 
}

.search-bar button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0; 
}

.search-bar button img {
    width: 24px; 
    height: 24px;
    border-radius: 0 4px 4px 0; 
    margin: 10px;
}

.search-bar input:focus {
    outline: none; 
}

.btn-primary {
    background-color: #FEFBFA;
    color: #735656;
    border-color: #735656;
}

.btn-primary:hover {
    background-color: #735656;
    color: #FEFBFA;
    border-color: #735656;
}

.ml-3 {
    margin-left: 1rem;
}
#loadMoreBtn {
    padding: 10px 20px;
    font-size: 18px; 
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border-radius: 10px; 
    margin-bottom: 50px;
}
@media (max-width: 768px) {
    .sidebar {
        padding: 10px;
    }

    .search-bar {
        max-width: 100%;
        flex-direction: column;
    }

    .search-bar input {
        padding-right: 0;
        margin-bottom: 10px;
    }

    .search-bar button img {
        width: 20px;
        height: 20px;
    }

    .sort-options {
        flex-direction: column;
        align-items: flex-start;
    }

    .sort-options label {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .btn-primary {
        padding: 10px;
        font-size: 16px;
    }

    #loadMoreBtn {
        padding: 8px 16px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .sidebar {
        padding: 5px;
    }

    .sidebar h4 {
        font-size: 18px;
    }

    .sidebar h5 {
        font-size: 14px;
    }

    .sidebar ul li {
        margin-bottom: 5px;
    }

    .search-bar {
        flex-direction: column;
        border-radius: 20px;
    }

    .search-bar input {
        padding-right: 0;
        margin-bottom: 10px;
    }

    .search-bar button img {
        width: 20px;
        height: 20px;
    }

    .btn-primary {
        padding: 8px;
        font-size: 14px;
    }

    #loadMoreBtn {
        padding: 8px 12px;
        font-size: 14px;
    }
}