html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.transition-container {
    background-color: #FBEDE8; 
    padding: 50px 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    
}

.content-wrapper {
    max-width: 80%; 
    text-align: center;
}

.transition-title {
    font-size: 2em; 
    font-weight: 400; 
    font-family: 'Poppins', sans-serif;
    color: #735656;
    margin-bottom: 20px; 
}

.text-with-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-image {
    width: 10%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.side-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px; 
    padding-bottom: 300px;
}

.text-content {
    width: 45%; 
    text-align: left;
    padding: 0 20px; 
}

.text-content p {
    font-size: 1.2em;
    font-weight: 300; 
    font-family: 'Roboto Condensed', sans-serif;
    color: #735656;
    margin-bottom: 40px; 
    text-align: justify;
}

hr {
    width: 100%;
    margin: 10px 0;
    border: none;
    height: 2px;
    background-color: #735656;
}

.transition-divider {
    width: 25%; 
    height: 3px; 
    background-color: #735656;
    margin: 20px auto;
}

@media only screen and (max-width: 1200px) {
    .text-content {
        width: 60%; /* Increase text content width for smaller screens */
    }
    
    .side-image {
        width: 20%; /* Adjust image size */
    }
}

@media only screen and (max-width: 768px) {
    .text-with-images {
        flex-direction: column; /* Stack text and images vertically on tablets */
    }

    .side-image {
        width: 40%; /* Adjust image size for tablets */
        padding-bottom: 0; /* Remove large padding on mobile */
    }

    .text-content {
        width: 80%; /* Adjust text width for smaller screens */
        text-align: center; /* Center the text on mobile */
    }
}

@media only screen and (max-width: 480px) {
    .transition-title {
        font-size: 1.5em; /* Reduce title size for small screens */
    }

    .side-image {
        width: 60%; /* Larger image on smaller screens */
    }

    .text-content {
        width: 90%; /* Make the text content full width on small devices */
        padding: 0 10px; /* Adjust padding */
    }

    .text-content p {
        font-size: 1em; /* Reduce paragraph font size */
    }
}