
body {
    font-family: 'Roboto' bold, sans-serif;
}


.navbar-nav .nav-item {
    margin-left: 20px; 
    margin-right: 20px; 
}


.navbar-nav .nav-link  {
    color: #735656 !important;
    transition: color 0.3s;
    font-size: 20px; 
    padding-left: 50px!important;
    cursor: pointer;
}
.navbar-nav .nav-link:hover{
    color: #FBEDE8!important; 
}



.navbar {
    background-color: rgba(251, 237, 232, 0.2);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100px;
    height: auto;
}

.account-icon {
    width: 65px;
    height: auto;
    
}
.phone-icon {
    width: 35px;
    height: 30px;
}
.navbar-nav.mx-auto {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-nav.ml-auto {
    display: flex;
    align-items: center;
    color: #FEFBFA;
}

.navbar-nav li .nav-item{
    display: flex;
}

.nav-item.appel{
    display: flex;
    background-color: #735656;
    border-radius: 25px;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    cursor: pointer;
    margin: 0;
}
.navbar-nav .nav-link2 {
    color: #FEFBFA; /* Texte blanc */
    transition: color 0.3s;
    font-size: 20px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    cursor: pointer;
}
.nav-item.appel:hover{
    background-color: rgba(251, 237, 232, 0.2)!important;
    border: solid 1px #735656;
    color: #735656 !important;

}
.nav-item.appel:hover .nav-link2 {
    color: #735656; /* Texte marron au survol */
}

.navbar-brand,
.nav-link,
.nav-link2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; /* Medium weight */
}