
body {
    font-family: 'Roboto' bold, sans-serif;
}


.navbar-nav .nav-item {
    margin-left: 20px; 
    margin-right: 20px; 
}


.navbar-nav .nav-link  {
    color: #735656 !important;
    transition: color 0.3s;
    font-size: 20px; 
    padding-left: 50px!important;
    cursor: pointer;
}
.navbar-nav .nav-link:hover{
    color: #FBEDE8!important; 
}



.navbar {
    background-color: rgba(251, 237, 232, 0.2);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100px;
    height: auto;
}

.account-icon {
    width: 65px;
    height: auto;
    
}
.phone-icon {
    width: 35px;
    height: 30px;
}
.navbar-nav.mx-auto {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-nav.ml-auto {
    display: flex;
    align-items: center;
    color: #FEFBFA;
}

.navbar-nav li .nav-item{
    display: flex;
}

.nav-item.appel{
    display: flex;
    background-color: #735656;
    border-radius: 25px;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    cursor: pointer;
    margin: 0;
}
.navbar-nav .nav-link2 {
    color: #FEFBFA; /* Texte blanc */
    transition: color 0.3s;
    font-size: 20px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    cursor: pointer;
}
.nav-item.appel:hover{
    background-color: rgba(251, 237, 232, 0.2)!important;
    border: solid 1px #735656;
    color: #735656 !important;

}
.nav-item.appel:hover .nav-link2 {
    color: #735656; /* Texte marron au survol */
}

.navbar-brand,
.nav-link,
.nav-link2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; /* Medium weight */
}
@media (max-width: 992px) {
    .navbar-nav .nav-item {
        margin: 0 10px; /* Réduit les marges sur les écrans plus petits */
    }

    .navbar-nav .nav-link {
        font-size: 18px; /* Réduit la taille de la police pour les écrans plus petits */
        padding-left: 20px !important; /* Réduit le padding */
    }

    .phone-icon {
        width: 30px; /* Réduit la taille de l'icône du téléphone */
        height: 25px;
    }

    .account-icon {
        width: 55px; /* Réduit la taille de l'icône de compte */
        height: auto;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px 0; /* Réduit le padding pour les petits écrans */
    }

    .navbar-nav {
        text-align: center; /* Centre le texte pour les petits écrans */
    }

    .navbar-nav .nav-item {
        margin: 10px 0; /* Espace entre les éléments de menu pour les petits écrans */
    }

    .navbar-nav .nav-link {
        font-size: 16px; /* Réduit encore la taille de la police */
        padding-left: 0 !important; /* Réduit le padding pour mieux s'adapter */
    }

    .logo {
        width: 80px; /* Réduit la taille du logo */
    }


    .account-icon {
        width: 45px; /* Réduit davantage la taille de l'icône de compte */
        height: auto;
    }
}

@media (max-width: 576px) {
    .navbar-nav .nav-item {
        margin: 5px 0; /* Espace réduit entre les éléments de menu pour les très petits écrans */
    }

    .navbar-nav .nav-link {
        font-size: 14px; /* Réduit encore la taille de la police */
        padding-left: 0 !important; /* Réduit le padding */
    }

    .logo {
        width: 60px; /* Réduit la taille du logo */
    }

   

    .account-icon {
        width: 40px; /* Réduit la taille de l'icône de compte */
        height: auto;
    }
}