/* styles/objectcard.css */
.product-card {
    background-color: #FEFBFA;
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
    justify-content: space-between;
    margin: 10px;
}

.product-price {
    color: #735656;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.product-image {
    flex: 0 0 75%; 
    object-fit: cover;
    max-height: 250px;
    width: 100%;
    height: auto;
}

.product-details {
    padding: 25px;
    text-align: center;
    flex: 1 0 auto;
}

.product-name {
    color: #735656;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.transition-bar {
    background-color: #735656;
    height: 2px;
    width: 40%;
    margin: 0 auto 15px auto;
}

.product-link {
    color: #735656;
    text-decoration: none; /* Enlève le soulignement par défaut */
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-link:hover {
    text-decoration: underline; /* Ajoute le soulignement lors du survol */
    color: #594949; /* Change la couleur lors du survol */
}

.product-link .arrow-right {
    margin-left: 5px;
    transition: transform 0.3s;
}

.product-link:hover .arrow-right {
    transform: translateX(5px); /* Déplace la flèche vers la droite lors du survol */
}

.product-actions {
    display: flex;
    justify-content: center; /* Centrer les éléments horizontalement */
    align-items: center;
    gap: 10px; /* Espacement entre les éléments */
    flex-wrap: wrap; /* Permet de s'ajuster si le bouton "Modifier" est absent */
}

.product-actions .product-link {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-actions .btn-danger {
    flex: 1;
    margin-left: 10px; /* Espacement entre les éléments */
}


.product-card:hover .product-link {
    color: #594949;
}
