.product-card {
    background-color: #FEFBFA;
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.product-price {
    color: #735656;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.product-image {
    flex: 0 0 75%; 
    object-fit: cover;
    max-height: 250px;
    width: 100%;
    height: auto;
}

.product-details {
    padding: 25px;
    text-align: center;
    flex: 1 0 auto;
}

.product-name {
    color: #735656;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.transition-bar {
    background-color: #735656;
    height: 2px;
    width: 40%;
    margin: 0 auto 15px auto;
}

.product-link {
    color: #735656;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}

.product-link:hover {
    color: #735656;
}

.product-link .arrow-right {
    margin-left: 5px;
    transition: transform 0.3s;
}

.product-link:hover .arrow-right {
    transform: translateX(5px); /* Déplacer la flèche vers la droite lors du survol */
}

.product-card:hover .product-link {
    color: #594949;
}

.product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}