<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Angels Cake By KahinaOr</title>
</head>
<body>
    {% include 'includes/navbar.html.twig' %}

    {% include 'includes/section-contact.html.twig' %}

    {% include 'includes/infos.html.twig' %}

    {% include 'includes/footer.html.twig' %}
</body>
</html>